@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

:root{
    --color01: #F2CB07;
    --color02: #F2B705;
    --color03: #F27D72;
    --color04: #F20505;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

div#wallpaper{
    background-color: white;
    background-image: url(imagens/disney-lightning-mcqueen-mcqueen-cars-movie-wallpaper-preview.jpg);
    padding-bottom: 100vh;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

header{
    margin: 0px;
    padding-bottom: 0px;
}

img{
    max-width: 300px;
    width: 32vw;
    display: block;
    margin: auto;
}

body{
    background: linear-gradient(to top, #F2CB07, #F20505);
    background-attachment: fixed;
    
    
    margin: auto;
}

main{
    margin: auto;
    min-width: 250px;
    max-width: 100vw;
    border: 1px solid #0000005b;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.397);
    border-top: 0px;
    padding: 20px;
    padding-bottom: 200px;
    background-color: #F2F2F2;
    font-family: 'Walter Turncoat', cursive;
}

p{
    font-size: 19px;
    text-align: justify;
    letter-spacing: 1px;
    margin: auto;
}

main > h2{
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.5em;
    text-align: center;
}
