@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

:root{
    --color01: #F2CB07;
    --color02: #F2B705;
    --color03: #F27D72;
    --color04: #F20505;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}



header{
    margin: 0px;
    padding-bottom: 0px;
    background-image: url(imagens/papel\ de\ parede.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    height: 30vh;
}

h1{
    color: rgb(223, 130, 77);
    font-size: 4.5em;
    padding-top: 0px;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-style: italic;
    text-align: center;
}

picture > img{
    max-width: 300px;
    width: 32vw;
    display: block;
    margin: auto;
}

main{
    margin: auto;
    min-width: 250px;
    max-width: 100vw;
    border: 1px solid #0000005b;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.397);
    border-top: 0px;
    padding: 20px;
    padding-bottom: 200px;
    background-color: #F2F2F2;
    font-family: 'Walter Turncoat', cursive;
    display: inline-block;
}

p{
    font-size: 19px;
    text-align: justify;
    letter-spacing: 1px;
    margin: auto;
}

main > h2{
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.5em;
    text-align: center;
}


nav{
    display: flex;
    justify-content: flex-end;
}

a{
    font-size: 1.5em;
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

a:hover{
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.308);
}

div#fora{
    padding-top: 12vh;
}
